*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Encabezado */

.contenedor_nav{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
}

.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav .contenedor_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 50px;
}

.header_nav h1{
    color: #fff;
    font-family: 'Gagalin';
    position: relative;
}

.header_nav h1 span {
    position: absolute;
    right: 0;
    width: 0;
    background: #005C9f;
    animation: maquina 5s alternate steps(21);
    animation-delay: .6s;
    -webkit-animation: maquina 5s alternate steps(21);
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 19px;
    padding: 10px 25px;
    margin-bottom: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.header_nav nav a:hover {
    background: transparent;
    border: 2px solid #fff;
    box-shadow:  0 0 10px #45f7C4, 0 0 15px #45f7C4;
    text-shadow: 0 0 5px cyan, 0 0 5px cyan;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #000, 0 0 10px #000;
}

.banner_title .llamanos{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 25px;
    color: #fff;
    background: cornflowerblue;
    border-radius: 50px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    transition: all 30ms ease;
    letter-spacing: .5px;
    -webkit-transition: all 30ms ease;
    -moz-transition: all 30ms ease;
    -ms-transition: all 30ms ease;
    -o-transition: all 30ms ease;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.banner_title .llamanos:hover {
    background: transparent;
    border: 2px solid #fff;
    box-shadow:  0 0 10px #45f7C4, 0 0 15px #45f7C4;
}

.banner_img{
    animation: movimiento 2.5s linear 2;
    animation-delay: .5s;
    -webkit-animation: movimiento 2.5s linear 2;
}

.banner_img img{
    width: 400px;
    border-radius: 50%;
    display: block;
    box-shadow:  0 0 10px white, 0 0 15px white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite ;
    -webkit-animation: burbujas 3s linear infinite ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
}
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

/* Efecto Parallax */

main {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

section {
    transform-style: preserve-3d;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

section h1 {
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
}

.no-parallax {
    background: linear-gradient(to right, #505BDA, #005C98);
    z-index: 999;
}

.parallax h1 {
    width: 60%;
    font-size: 2rem;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    -webkit-transform: translateZ(-1px) scale(1.5);
    -moz-transform: translateZ(-1px) scale(1.5);
    -ms-transform: translateZ(-1px) scale(1.5);
    -o-transform: translateZ(-1px) scale(1.5);
}

.bg::after {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./img/fondo.jpg");
    background-size: cover;
}

/* Loader */

#contenedor_carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 15px solid #505BDA;
    border-top-color: cyan;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
    to { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); }
}



/* Pruebas */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

.page-transition {
    position: absolute;
    top: 0;
    background-color: #612F42;
    width: 100%;
    height: 0%;
}

.nav a.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 2px;
    border-radius: 1rem;
    background-color: #FAF3EC;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}